{% extends 'base.html' %}{% load static %}
{% block title %}
    Тундук
{% endblock %}
{% block content %}
    <!--Start breadcrumb area-->
    <section class="breadcrumb-area">
        <div class="breadcrumb-area-bg"></div>
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="inner-content">
                        <div class="title" data-aos="fade-right" data-aos-easing="linear" data-aos-duration="500">
                            <h2>Тундук</h2>
                        </div>
                        <div class="breadcrumb-menu" data-aos="fade-left" data-aos-easing="linear"
                             data-aos-duration="500">
                            <ul>
                                <li><a href="{% url 'tunduk:tunduk-controller' %}">Главная</a></li>
                                <li class="active">Тундук</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--End breadcrumb area-->
    <!--Start Accounts Style1 Area-->
    <section class="account-style1-area">
        <div class="container">
            <div class="row">
                <div class="sec-title text-center mb-5">
                    <h4>Отправка запросов</h4>
                </div>
                <!--Start Single Account Box Style1-->
                <div class="col-xl-12 col-lg-12">
                    <div class="single-account-box-style1">
                        <a href="{% url 'tunduk:tunduk-request' %}">
                            <div class="text-holder">
                                <h3>Получение выписки</h3>
                                <p>Получение выписки из сервисов</p>
                            </div>
                        </a>
                    </div>
                </div>
                <!--End Single Account Box Style1-->
                <div class="sec-title text-center mb-5">
                    <h4>Список выписок из сервисов</h4>
                </div>
                <!--Start Single Account Box Style1-->
                <div class="col-xl-4 col-lg-4">
                    <div class="single-account-box-style1">
                        <a href="{% url 'tunduk:infocom-list' %}">
                            <div class="text-holder">
                                <h3>Инфоком</h3>
                                <p>Список отправленных запросов</p>
                            </div>
                        </a>
                    </div>
                </div>
                <!--End Single Account Box Style1-->
                <!--Start Single Account Box Style1-->
                <div class="col-xl-4 col-lg-4">
                    <div class="single-account-box-style1">
                        <a href="{% url 'tunduk:unaa-list' %}">
                            <div class="text-holder">
                                <h3>Унаа</h3>
                                <p>Список отправленных запросов</p>
                            </div>
                        </a>
                    </div>
                </div>
                <!--End Single Account Box Style1-->
                <!--Start Single Account Box Style1-->
                <div class="col-xl-4 col-lg-4">
                    <div class="single-account-box-style1">
                        <a href="{% url 'tunduk:minjyst-list' %}">
                            <div class="text-holder">
                                <h3>Мин. Юстиции</h3>
                                <p>Список отправленных запросов</p>
                            </div>
                        </a>
                    </div>
                </div>
                <!--End Single Account Box Style1-->
                <!--Start Single Account Box Style1-->
                <div class="col-xl-4 col-lg-4">
                    <div class="single-account-box-style1">
                        <a href="{% url 'tunduk:kadastr-list' %}">
                            <div class="text-holder">
                                <h3>Кадастр</h3>
                                <p>Список отправленных запросов</p>
                            </div>
                        </a>
                    </div>
                </div>
                <!--End Single Account Box Style1-->
                <!--Start Single Account Box Style1-->
                <div class="col-xl-4 col-lg-4">
                    <div class="single-account-box-style1">
                        <a href="{% url 'tunduk:minselxoz-list' %}">
                            <div class="text-holder">
                                <h3>Мин. Сель. Хоз</h3>
                                <p>Список отправленных запросов</p>
                            </div>
                        </a>
                    </div>
                </div>
                <!--End Single Account Box Style1-->

            </div>

        </div>
    </section>
    <!--End Accounts Style1 Area-->

{% endblock %}